# Copy to `.env` locally (never commit `.env`).
# Vite only exposes variables prefixed with VITE_
# https://vitejs.dev/guide/env-and-mode.html

VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
